

.banner {
    background-color: darkorange;
    padding: 5px;
    height: 5em;
}

.title {
    margin: 0;
    color: white;    
    font-family: 'Nixie One', Cursive;
    letter-spacing: 3px;
    font-size: 2.5em;
}

.subtitle {
    color: black;
    margin: 0;
    font-family: 'Nixie One', Cursive;
    letter-spacing: 0px;
    font-size: 1.1em;
}

$active-hamburger: darkorange;

.button_container {
    position: absolute;
    top: 1.1em;
    right: 0.5em;
    height: 3em;
    width: 3.5em;
    cursor: pointer;
    z-index: 200;
    transition: opacity .25s ease;
    
    &:hover {
        opacity: 0.7;
    }
    
    &.activeButton {
        .top {
            transform: translateY(1em) translateX(0) rotate(45deg);
            background-color: $active-hamburger;
        }
        .middle {
            opacity: 0;
        }
    
        .bottom {
            transform: translateY(-1em) translateX(0) rotate(-45deg);
            background-color: $active-hamburger;
        }
    }
    
}
            
.button_container span {
    background: white;
    border: none;
    height: 0.5em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container .middle {
     top: 1em;
 }

.button_container .bottom{
     top: 2em;
 }

.header-buttons{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    
    .login-button{
        position: absolute;
        height: 2.6em;
        right: 5em;
        top: 1.1em;
        z-index: 100;
        border-radius: 0;
        background-color: #3b3b3b;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
    }
}