@import "navbar";
@import "overlayMenu";
@import "base";
@import "input";
@import "weeks";
@import "highres";
@import "programNav";
@import "loginMenu";
@import "overview";




.main-container {
    margin-top: 5px;
}




.greeting {
    font-family: 'Nixie One', Cursive;
} 


.lift-input {
    /*display: inline-block;*/
    padding: 0px;
    border: none;
    border-bottom: solid 1px;
    transition: border 0.3s;
/*    text-align: center;*/

}
.lift-input:focus{
    border-bottom: solid 1px orange;
    outline:none;
}

h3 {
    text-align: center;
}

#dateInput {
    box-sizing: border-box;
    height: 1.7em;
    font-family: sans-serif;
}

table {
    margin: auto;

}

.input-description {
    text-align: right;
    text-transform: uppercase;
    
}

.input-column {
    text-align: center;
}

.input-column select, .input-column #dateInput{
    width: 100%;
}

td {
    padding: 6px;
    text-align: center;
}



.main-content {
    padding: 0;
}

.nav-div {
    padding: 0;
}



ul {
    padding: 0;
    margin: 0;
}







.workoutContent {
    padding: 0;
    border-left:1px solid rgba(0, 0, 0, 0);

}

.workout-table td{
    padding: 10px;
}

.workoutCell {
    font-weight:bold;
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 140, 0, 0), rgba(255, 140, 0, 0.75), rgba(255, 140, 0, 0));
}

.badge {
    background-color: darkorange;
    font-size: 0.8em;
}

.set-header {
    font-weight: bold;
    text-align: center;
}

.navHR {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 1));
}


