/* line 3, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.banner {
  background-color: darkorange;
  padding: 5px;
  height: 5em; }

/* line 9, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.title {
  margin: 0;
  color: white;
  font-family: 'Nixie One', Cursive;
  letter-spacing: 3px;
  font-size: 2.5em; }

/* line 17, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.subtitle {
  color: black;
  margin: 0;
  font-family: 'Nixie One', Cursive;
  letter-spacing: 0px;
  font-size: 1.1em; }

/* line 27, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.button_container {
  position: absolute;
  top: 1.1em;
  right: 0.5em;
  height: 3em;
  width: 3.5em;
  cursor: pointer;
  z-index: 200;
  transition: opacity 0.25s ease; }
  /* line 37, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
  .button_container:hover {
    opacity: 0.7; }
  /* line 42, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
  .button_container.activeButton .top {
    transform: translateY(1em) translateX(0) rotate(45deg);
    background-color: darkorange; }
  /* line 46, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
  .button_container.activeButton .middle {
    opacity: 0; }
  /* line 50, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
  .button_container.activeButton .bottom {
    transform: translateY(-1em) translateX(0) rotate(-45deg);
    background-color: darkorange; }

/* line 58, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.button_container span {
  background: white;
  border: none;
  height: 0.5em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer; }

/* line 70, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.button_container .middle {
  top: 1em; }

/* line 74, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.button_container .bottom {
  top: 2em; }

/* line 78, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
.header-buttons {
  position: absolute;
  right: 0;
  top: 0;
  float: right; }
  /* line 84, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
  .header-buttons .login-button {
    position: absolute;
    height: 3.95em;
    right: 5em;
    top: -0.3em;
    z-index: 100;
    border-radius: 0em;
    background-color: #3b3b3b;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.3s; }
    /* line 96, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_navbar.scss */
    .header-buttons .login-button:hover {
      background-color: #9b9b9b; }

/* line 3, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
#overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: black;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 1s; }
  /* line 17, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
  #overlayMenu nav {
    position: relative;
    height: 70%;
    top: 0%;
    transform: translateY(25%);
    text-align: center; }
  /* line 25, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
  #overlayMenu.menuOpen {
    opacity: 0.95;
    visibility: visible;
    height: 100%; }
    /* line 30, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
    #overlayMenu.menuOpen li {
      padding-left: 8px;
      text-align: left;
      border-top: 2px solid #3B3B3B;
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: .35s;
      text-transform: uppercase;
      display: block;
      height: 25%;
      min-height: 100px;
      position: relative;
      opacity: 0;
      font-weight: bolder;
      font-size: 50px;
      color: #6B6B6B;
      letter-spacing: 5px; }
      /* line 37, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
      #overlayMenu.menuOpen li:nth-of-type(2) {
        animation-delay: .4s; }
      /* line 41, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
      #overlayMenu.menuOpen li:nth-of-type(3) {
        animation-delay: .45s; }
      /* line 44, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
      #overlayMenu.menuOpen li:nth-of-type(4) {
        animation-delay: .50s; }
      /* line 60, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
      #overlayMenu.menuOpen li:hover {
        color: whitesmoke;
        transition: .35s ease;
        border-top: 2px solid darkorange;
        cursor: pointer; }
  /* line 69, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overlayMenu.scss */
  #overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/* line 1, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_base.scss */
html {
  overflow-y: scroll; }

/* line 5, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_base.scss */
body, input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

/* line 10, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  /*color: white;
    background-color: black;*/ }

/* line 16, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_base.scss */
.container, .container-fluid {
  padding: 0; }

/* line 1, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
#input-header {
  font-size: 1.5em; }

/* line 5, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
.radio-button {
  width: 1.5em;
  height: 1.5em;
  background-color: darkorange; }

/* line 11, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
#save-button {
  float: right;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  background-color: darkorange;
  transition: background-color 0.3s; }
  /* line 18, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
  #save-button:hover {
    background-color: #4b4b4b; }

/* line 23, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
.lift-input {
  text-align: center; }

/* line 27, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_input.scss */
.unitsSpan {
  position: absolute;
  right: 1em; }

/* line 1, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.weekTitle {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.7em; }

/* line 7, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.date-header {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1.5em; }

/* line 18, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.workout-table tr:nth-child(even) {
  background-color: rgba(255, 140, 0, 0.15); }

/* line 26, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.workout-table .empty-cell {
  background-color: white; }

/* line 31, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.workout-table tr td:first-child {
  background-color: white; }

/* line 36, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
.workout-table .cell-text {
  overflow: hidden;
  max-width: 30em;
  text-align: left;
  font-size: 0.9em; }

/* line 45, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
#week-6 {
  padding-left: 1em;
  padding-right: 1em; }
  /* line 49, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
  #week-6 .panel-heading {
    border-radius: 0;
    background-color: #3b3b3b;
    height: 2.45em;
    transition: background-color 0.3s; }
    /* line 55, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
    #week-6 .panel-heading .panel-title {
      font-size: 1.2em;
      font-weight: bold;
      color: white;
      transition: color 0.3s; }
    /* line 62, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
    #week-6 .panel-heading:hover {
      background-color: rgba(255, 140, 0, 0.4); }
      /* line 65, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
      #week-6 .panel-heading:hover .panel-title {
        color: #3b3b3b; }
  /* line 72, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
  #week-6 .panel {
    border-radius: 0; }
    /* line 75, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
    #week-6 .panel a:hover {
      text-decoration: none; }
  /* line 80, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
  #week-6 h2 {
    text-align: center; }

/* line 86, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_weeks.scss */
#w2d3 ul#backoff-squats li {
  list-style: disc; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-device-height: 7in), only screen and (-o-min-device-pixel-ratio: 13/10) and (max-device-height: 7in), only screen and (min-resolution: 120dpi) and (max-device-height: 7in) {
  /* line 26, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_highres.scss */
  body, input, textarea {
    font-size: 40px; }
  /* line 30, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_highres.scss */
  body {
    /*color: white;
        background-color: black;*/ } }

/*# sourceMappingURL=programNav.css.map */
/* line 4, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
#nav-list {
  list-style: none; }
  /* line 7, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
  #nav-list li {
    width: 100%;
    /*    padding: 0px;*/
    color: white;
    /*    background: black;*/
    margin: 0px;
    font-family: 'Open Sans', sans-serif; }
  /* line 18, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
  #nav-list .btn {
    width: 100%;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #e3e3e3;
    background-color: white;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.8em 0.5em;
    color: #6B6B6B;
    font-size: 0.8em;
    text-align: center;
    transition: background-color 0.2s;
    font-weight: bold;
    margin: 0px; }
    /* line 36, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
    #nav-list .btn:hover {
      background-color: rgba(255, 140, 0, 0.5); }

/* line 49, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
#program-header {
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1em;
  color: black;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  line-height: 2.2em;
  transition: background-color 0.3s, color 0.3s; }
  /* line 64, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
  #program-header:hover {
    background-color: black;
    color: white; }
    /* line 67, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
    #program-header:hover p:after {
      font-family: FontAwesome;
      content: "  \f078";
      display: inline-block; }
  /* line 74, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
  #program-header p {
    margin: 0; }
  /* line 75, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
  #program-header p:after {
    font-family: FontAwesome;
    content: " \f054";
    font-weight: 100; }

/* line 83, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_programNav.scss */
#collapse-header-anchor {
  text-decoration: none; }

/* line 1, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
#login-menu {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 300;
  background-color: darkorange;
  text-align: center;
  visibility: hidden;
  transition: height 0.3s;
  animation-delay: 2s; }
  /* line 16, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu.loginMenuActive {
    visibility: visible;
    height: 18em;
    transition: height 0.3s; }
    /* line 21, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
    #login-menu.loginMenuActive .fixed-div {
      animation: fadeIn 0.3s ease forwards;
      animation-delay: 0.2s; }
  /* line 28, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu #login-menu {
    color: white; }
  /* line 33, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu label {
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase; }
  /* line 40, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu h3 {
    font-size: 2em;
    text-transform: uppercase; }
  /* line 44, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu tr, #login-menu td {
    margin: 0;
    padding: 0;
    text-align: left; }
  /* line 50, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu .btn {
    margin-top: 0.5em;
    background-color: #3b3b3b;
    border: 0;
    font-size: 1em;
    text-transform: uppercase; }
    /* line 57, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
    #login-menu .btn:hover {
      background-color: black; }
  /* line 62, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu input[type="checkbox"] {
    height: 1em;
    width: 1em;
    margin-top: 0.5em; }
  /* line 67, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu #remember-me {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-transform: none; }
  /* line 74, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu .fa-times {
    position: absolute;
    font-size: 2em;
    right: 0.5em;
    top: 0.5em;
    transition: color 0.3s; }
    /* line 81, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
    #login-menu .fa-times:hover {
      color: white; }
  /* line 86, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_loginMenu.scss */
  #login-menu .fixed-div {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visiblity -1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    left: 0;
    visibility: visible; } }

/* line 1, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
#overview {
  padding-left: 1em;
  padding-right: 1em; }
  /* line 4, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview h1 {
    text-align: center;
    font-size: 2em; }
  /* line 9, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview h2 {
    font-size: 1.6em; }
  /* line 13, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview h3 {
    margin-top: 0;
    font-size: 1.3em; }
  /* line 18, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview h4 {
    font-weight: bold;
    font-size: 1em; }
  /* line 22, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview h5.update {
    font-size: 1em;
    text-align: center; }
  /* line 27, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview p {
    text-align: justify; }
  /* line 31, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview li {
    list-style: none; }
  /* line 35, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview .note {
    font-style: italic;
    font-size: 0.9em; }
  /* line 41, C:/Users/Christianson/WebstormProjects/candito6/public/scss/_overview.scss */
  #overview .numbered-list li {
    margin-left: 1.4em;
    list-style: decimal; }

/* line 14, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.main-container {
  margin-top: 5px; }

/* line 21, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.greeting {
  font-family: 'Nixie One', Cursive; }

/* line 26, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.lift-input {
  /*display: inline-block;*/
  padding: 0px;
  border: none;
  border-bottom: solid 1px;
  transition: border 0.3s;
  /*    text-align: center;*/ }

/* line 35, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.lift-input:focus {
  border-bottom: solid 1px orange;
  outline: none; }

/* line 40, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
h3 {
  text-align: center; }

/* line 44, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
#dateInput {
  box-sizing: border-box;
  height: 1.7em;
  font-family: sans-serif; }

/* line 50, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
table {
  margin: auto; }

/* line 55, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.input-description {
  text-align: right;
  text-transform: uppercase; }

/* line 61, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.input-column {
  text-align: center; }

/* line 65, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.input-column select, .input-column #dateInput {
  width: 100%; }

/* line 69, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
td {
  padding: 6px;
  text-align: center; }

/* line 76, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.main-content {
  padding: 0; }

/* line 80, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.nav-div {
  padding: 0; }

/* line 86, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
ul {
  padding: 0;
  margin: 0; }

/* line 97, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.workoutContent {
  padding: 0;
  border-left: 1px solid transparent; }

/* line 103, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.workout-table td {
  padding: 10px; }

/* line 107, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.workoutCell {
  font-weight: bold;
  text-align: right; }

/* line 112, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 140, 0, 0), rgba(255, 140, 0, 0.75), rgba(255, 140, 0, 0)); }

/* line 118, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.badge {
  background-color: darkorange;
  font-size: 0.8em; }

/* line 123, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.set-header {
  font-weight: bold;
  text-align: center; }

/* line 128, C:/Users/Christianson/WebstormProjects/candito6/public/scss/main.scss */
.navHR {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.65), black); }

/*# sourceMappingURL=main.css.map */